parquet_files/test/test_applprev_1_0.parquet
parquet_files/test/test_applprev_1_1.parquet
parquet_files/test/test_applprev_1_2.parquet
parquet_files/test/test_applprev_2.parquet
parquet_files/test/test_base.parquet
parquet_files/test/test_credit_bureau_a_1_0.parquet
parquet_files/test/test_credit_bureau_a_1_1.parquet
parquet_files/test/test_credit_bureau_a_1_2.parquet
parquet_files/test/test_credit_bureau_a_1_3.parquet
parquet_files/test/test_credit_bureau_a_1_4.parquet
parquet_files/test/test_credit_bureau_a_2_0.parquet
parquet_files/test/test_credit_bureau_a_2_1.parquet
parquet_files/test/test_credit_bureau_a_2_2.parquet
parquet_files/test/test_credit_bureau_a_2_3.parquet
parquet_files/test/test_credit_bureau_a_2_4.parquet
parquet_files/test/test_credit_bureau_a_2_5.parquet
parquet_files/test/test_credit_bureau_a_2_6.parquet
parquet_files/test/test_credit_bureau_a_2_7.parquet
parquet_files/test/test_credit_bureau_a_2_8.parquet
parquet_files/test/test_credit_bureau_a_2_9.parquet
parquet_files/test/test_credit_bureau_a_2_10.parquet
parquet_files/test/test_credit_bureau_a_2_11.parquet
parquet_files/test/test_credit_bureau_b_1.parquet
parquet_files/test/test_credit_bureau_b_2.parquet
parquet_files/test/test_debitcard_1.parquet
parquet_files/test/test_deposit_1.parquet
parquet_files/test/test_other_1.parquet
parquet_files/test/test_person_1.parquet
parquet_files/test/test_person_2.parquet
parquet_files/test/test_static_0_0.parquet
parquet_files/test/test_static_0_1.parquet
parquet_files/test/test_static_0_2.parquet
parquet_files/test/test_static_cb_0.parquet
parquet_files/test/test_tax_registry_a_1.parquet
parquet_files/test/test_tax_registry_b_1.parquet
parquet_files/test/test_tax_registry_c_1.parquet
parquet_files/train/train_applprev_1_0.parquet
parquet_files/train/train_applprev_1_1.parquet
parquet_files/train/train_applprev_2.parquet
parquet_files/train/train_base.parquet
parquet_files/train/train_credit_bureau_a_1_0.parquet
parquet_files/train/train_credit_bureau_a_1_1.parquet
parquet_files/train/train_credit_bureau_a_1_2.parquet
parquet_files/train/train_credit_bureau_a_1_3.parquet
parquet_files/train/train_credit_bureau_a_2_0.parquet
parquet_files/train/train_credit_bureau_a_2_1.parquet
parquet_files/train/train_credit_bureau_a_2_2.parquet
parquet_files/train/train_credit_bureau_a_2_3.parquet
parquet_files/train/train_credit_bureau_a_2_4.parquet
parquet_files/train/train_credit_bureau_a_2_5.parquet
parquet_files/train/train_credit_bureau_a_2_6.parquet
parquet_files/train/train_credit_bureau_a_2_7.parquet
parquet_files/train/train_credit_bureau_a_2_8.parquet
parquet_files/train/train_credit_bureau_a_2_9.parquet
parquet_files/train/train_credit_bureau_a_2_10.parquet
parquet_files/train/train_credit_bureau_b_1.parquet
parquet_files/train/train_credit_bureau_b_2.parquet
parquet_files/train/train_debitcard_1.parquet
parquet_files/train/train_deposit_1.parquet
parquet_files/train/train_other_1.parquet
parquet_files/train/train_person_1.parquet
parquet_files/train/train_person_2.parquet
parquet_files/train/train_static_0_0.parquet
parquet_files/train/train_static_0_1.parquet
parquet_files/train/train_static_cb_0.parquet
parquet_files/train/train_tax_registry_a_1.parquet
parquet_files/train/train_tax_registry_b_1.parquet
parquet_files/train/train_tax_registry_c_1.parquet
csv_files/test/test_applprev_1_0.csv
csv_files/test/test_applprev_1_1.csv
csv_files/test/test_applprev_1_2.csv
csv_files/test/test_applprev_2.csv
csv_files/test/test_base.csv
csv_files/test/test_credit_bureau_a_1_0.csv
csv_files/test/test_credit_bureau_a_1_1.csv
csv_files/test/test_credit_bureau_a_1_2.csv
csv_files/test/test_credit_bureau_a_1_3.csv
csv_files/test/test_credit_bureau_a_1_4.csv
csv_files/test/test_credit_bureau_a_2_0.csv
csv_files/test/test_credit_bureau_a_2_1.csv
csv_files/test/test_credit_bureau_a_2_2.csv
csv_files/test/test_credit_bureau_a_2_3.csv
csv_files/test/test_credit_bureau_a_2_4.csv
csv_files/test/test_credit_bureau_a_2_5.csv
csv_files/test/test_credit_bureau_a_2_6.csv
csv_files/test/test_credit_bureau_a_2_7.csv
csv_files/test/test_credit_bureau_a_2_8.csv
csv_files/test/test_credit_bureau_a_2_9.csv
csv_files/test/test_credit_bureau_a_2_10.csv
csv_files/test/test_credit_bureau_a_2_11.csv
csv_files/test/test_credit_bureau_b_1.csv
csv_files/test/test_credit_bureau_b_2.csv
csv_files/test/test_debitcard_1.csv
csv_files/test/test_deposit_1.csv
csv_files/test/test_other_1.csv
csv_files/test/test_person_1.csv
csv_files/test/test_person_2.csv
csv_files/test/test_static_0_0.csv
csv_files/test/test_static_0_1.csv
csv_files/test/test_static_0_2.csv
csv_files/test/test_static_cb_0.csv
csv_files/test/test_tax_registry_a_1.csv
csv_files/test/test_tax_registry_b_1.csv
csv_files/test/test_tax_registry_c_1.csv
csv_files/train/train_applprev_1_0.csv
csv_files/train/train_applprev_1_1.csv
csv_files/train/train_applprev_2.csv
csv_files/train/train_base.csv
csv_files/train/train_credit_bureau_a_1_0.csv
csv_files/train/train_credit_bureau_a_1_1.csv
csv_files/train/train_credit_bureau_a_1_2.csv
csv_files/train/train_credit_bureau_a_1_3.csv
csv_files/train/train_credit_bureau_a_2_0.csv
csv_files/train/train_credit_bureau_a_2_1.csv
csv_files/train/train_credit_bureau_a_2_2.csv
csv_files/train/train_credit_bureau_a_2_3.csv
csv_files/train/train_credit_bureau_a_2_4.csv
csv_files/train/train_credit_bureau_a_2_5.csv
csv_files/train/train_credit_bureau_a_2_6.csv
csv_files/train/train_credit_bureau_a_2_7.csv
csv_files/train/train_credit_bureau_a_2_8.csv
csv_files/train/train_credit_bureau_a_2_9.csv
csv_files/train/train_credit_bureau_a_2_10.csv
csv_files/train/train_credit_bureau_b_1.csv
csv_files/train/train_credit_bureau_b_2.csv
csv_files/train/train_debitcard_1.csv
csv_files/train/train_deposit_1.csv
csv_files/train/train_other_1.csv
csv_files/train/train_person_1.csv
csv_files/train/train_person_2.csv
csv_files/train/train_static_0_0.csv
csv_files/train/train_static_0_1.csv
csv_files/train/train_static_cb_0.csv
csv_files/train/train_tax_registry_a_1.csv
csv_files/train/train_tax_registry_b_1.csv
csv_files/train/train_tax_registry_c_1.csv
